<p style="color: green"><%= notice %></p>
<h1><%= @greeting %></h1>
<div>
  <%= link_to 'Add Task' %>
  <% if @user.role == 'Admin' %>
    <%= link_to 'Admin' %>
  <% end %>
  <%= link_to 'Profile', user_profile_path(@user.id) %>
  <%= link_to 'Completed'  %>
  <%= button_to 'Logout', logout_path, method: :delete %>
</div>
